input {
    border: none;
    outline: none;
    padding: 7px;
    margin: 10px;
    text-align: center;
    background-color: transparent;
    color: white;
  }
  ul,
  li {
    list-style: none;
    padding: 0;
  }
  button {
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 30px;
    transition: all 300ms ease-out;
  }
  button:hover {
    transform: scale(1.2);
  }
  .field {
    display: flex;
    flex-direction: column;
    align-items: center;
  
    margin-top: 200px;
  }
  .clock {
    position: fixed;
    font-size: 20px;
    font-weight: bold;
    margin: 7px;
    user-select: none;
    right: 20px;
    top: 20px;
    text-align: center;
    color: white;
  }
  .who,
  .greeting,
  .what {
    display: none;
  }
  .greeting {
    font-size: 35px;
    font-weight: 800;
    margin: 5px;
    text-align: center;
    color: white;
  }
  .who {
    border-bottom: 3px solid white;
    transition: all 300ms ease-in-out;
    font-size: 30px;
    width: 400px;
    font-size: 25px;
  }
  .what {
    border-bottom: 3px solid white;
    transition: all 300ms ease-in-out;
    font-size: 30px;
    width: 200px;
    font-size: 18px;
  }
  .todos {
    width: 10%;
    font-size: 20px;
    font-weight: bold;
    height: 200px;
    color: white;
    overflow-y: auto;
    overflow-x: hidden;
  }
  .todos__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .row-divider {
    width: 100%;
    height: 3px;
    background-color: white;
  }
  ::placeholder {
    color: white;
  }
  .who.who--ani,
  .what.what--ani {
    transform: translateY(-10px) scale(1.1);
  }
  .greeting.greeting--visible {
    display: block;
  }
  .who.who--visible {
    display: block;
  }
  .what.what--visible {
    display: block;
  }
  .body {
    margin: 0;
    background: url(img/1.jpeg);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  .coords {
    font-size: 25px;
    color: white;
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-weight: bold;
  }
  